$font-default : Roboto;
$font-Montserrat: Montserrat;
$font-default-size: 14px;

$color-grey: #CCC;
$color-dark-grey: #f1f1f1;
$color-dark-white: #fafafa;

$border-size: 1px;
$border-default: $border-size solid $color-dark-grey;

$border-radius-default: 10px;

$margin-default:10px;