@import 'variable';
@import 'fonts';

#app {
    padding: 0;
    margin: 0;
    font-family: $font-Montserrat;
    font-size: $font-default-size;
}

#content-body {
    padding-top:70px;
}

hr {
    border:$border-default;
}